
<div class="messaging">
    <div class="inbox_msg">
      <div class="inbox_people">
        <div class="headind_srch">
          <div class="recent_heading">
            <h4>Grupos</h4>
          </div>
         
        </div>
        <div class="inbox_chat scroll">
          <div class="chat_list active_chat">
            <div class="chat_people">
              <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="chat_ib">
                <h5>Chat Geral <span class="chat_date">{{time}}</span></h5>
                <p>O melhor</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mesgs">
        <div class="msg_history">
          <div class="incoming_msg" *ngFor="let item of messages">
          <div class="outgoing_msg" *ngIf="item.sent_by === user; else elseBlock">
            <div class="sent_msg">
              <p>
                {{item.content}}
            </p>
              <span class="time_date"> {{item.created_at | date}}, {{item.name}}</span> </div>
          </div>
          <ng-template #elseBlock>
            <div class="incoming_msg" >
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>{{item.content}}</p>
                  <span class="time_date"> {{item.created_at | date}}, {{item.name}}</span></div>
              </div>
            </div>
          </ng-template>
        </div>
        <form [formGroup]="formChat" (ngSubmit)="submit()">
        <div class="type_msg">
          <div class="input_msg_write">
                  <input type="text" class="write_msg" placeholder="Type a message" formControlName="message" />
                  <button class="msg_send_btn" type="submit">Enviar</button>
                </div>
            </div>
        </form>
        <span class="text-danger"
        *ngIf="(loginFormControl.message.touched ) && loginFormControl.message.errors?.required">
        Digite uma mensagem
    </span>
      </div>
    </div>
  </div>